.homepage-container {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgba(192, 209, 224, 0.4);
}
@media (max-width: 506px) {
  .homepage-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(192, 209, 224, 0.4);
  }
}

.title {
  position: absolute;
  display: flex;
  top: 40px;
  left: 15%;
  z-index: 1;
  font-size: 24px;
  color: #fff;
  font-family: "Libre Baskerville", sans-serif;
  font-weight: bold;
  border: 3px solid rgb(110, 123, 233);
  width: 200px;
  height: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgb(155, 163, 231);
}
