.location-container {
  width: 100%;
  height: auto;
  background-image: url(./../../assets/homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-top: 2rem; */
}
